body{
    height: 100%;
    margin: 0;
    background-image: url('http://localhost:8080/farmerStore/images/back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bg {
    /* The image used */
    
    /* Full height */
     width:100%;
     height: 100%;
    
    /* Center and scale the image nicely */
    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height:10%;
}
.box{
    //background-color: #7986cb;
    width: 22%;
height: 50%;
    padding: 25px;
    
}
</style>
</head>
</html>